# Database Configuration
POSTGRES_USER=postgres
POSTGRES_DB=purrmanent
SERVICE_PASSWORD_POSTGRES=

# App URL Configurations
FRONTEND_ORIGINS=https://your_domain.com
BETTER_AUTH_URL=https://your_domain.com
COOKIE_DOMAIN=.your_domain.com

# Base64 Auth Secret (Generate via: openssl rand -base64 32)
SERVICE_BASE64_AUTHSECRET=

# Third-Party Integrations
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
RESEND_API_KEY=
MAIL_FROM="Purrmanent <noreply@your_email.com>"

# LLM Configuration
LLM_API_KEY=

# Web Push Notifications (Generate from npx web-push generate-vapid-keys or https://randomkeygen.com/vapid-key)
VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=
VAPID_SUBJECT=mailto:youremail.com

# Frontend env are located at .env.production
# NEXT_PUBLIC_BASE_URL=https://example.com
# NEXT_PUBLIC_API_BASE_URL=https://api.example.com
# NEXT_PUBLIC_SUPABASE_URL=
# NEXT_PUBLIC_SUPABASE_ANON_KEY=
# NEXT_PUBLIC_SUPABASE_BUCKET=purrmanent
